<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="JDTLS.EXT" sequenceNumber="39">
    <locations>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.xtend.sdk.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
            <repository location="https://download.eclipse.org/releases/2022-03/"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.jboss.tools.maven.apt.core" version="0.0.0"/>
            <repository location="https://download.jboss.org/jbosstools/updates/m2e-extensions/m2e-apt/1.5.3-2019-11-08_11-04-22-H22/"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.jdt.ls.core" version="0.0.0"/>
            <repository location="http://download.eclipse.org/jdtls/snapshots/repository/latest/"/>
        </location>
    </locations>
</target>