.vscode/**
.idea/**
.vscode-test/**
.gradle/**
.settings/**
.gitignore
.travis.yml
*.iml

src/**

lib/**
lib-kotlin/**
gradle/**

out/test/**
out/**/*.map
build/**
!build/install/**

tsconfig.json
tslint.json

.classpath
.project
build.gradle
gradle.properties
gradlew
gradlew.bat
TODO.md
pom.xml
